<?xml version="1.0" encoding="utf-8"?>

<!-- Web.config 変換の使用の詳細については、http://program.station.ez-net.jp/special/visual_studio/2012/web.config.switch.asp を参照してください -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    以下の例では、"SetAttributes" 変換により、値が "MyDB" の属性 "name" を
    "Match" ロケーターが検出した場合にのみ "connectionString" の値に
     "ReleaseSQLServer" を使用するよう変更されます。

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      maxWorkerThreads           : CPU ごとのワーカー スレッドの最大数
      maxIoThreads               : CPU ごとの I/O スレッドの最大数
      minFreeThreads             : スレッド プール内で維持するフリー スレッドの最小数。
      minLocalRequestFreeThreads : 新しいローカル要求を実行するために維持するフリー スレッドの最小数      
    -->
    <!--<processModel xdt:Transform="Insert" maxWorkerThreads="20" maxIoThreads="20" minFreeThreads="8" minLocalRequestFreeThreads="4" />-->
    <!--
      以下の例では、"Replace" 変換により Web.config ファイルの
 <customErrors> セクション全体が置換されます。
 <system.web> ノードには 1 つの customErrors セクションしかないため、
 "xdt:Locator" 属性を使用する必要はありません。

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm" />
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <httpErrors xdt:Transform="Insert" errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="404" path="/Prototype/Error/NotFound" responseMode="ExecuteURL" />
      <error statusCode="500" path="/Prototype/Error" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  <nlog>
    <rules>
      <logger xdt:Transform="Remove" xdt:Locator="Match(writeTo)" writeTo="debugger" />
    </rules>
  </nlog>
</configuration>